
*.cs
*.json
*.manifest
*.ide
Demenesd/.vs/Demenesd/DesignTimeBuild/.dtbcache
Demenesd/.vs/Demenesd/v16/.suo
Demenesd/.vs/Demenesd/v16/Server/sqlite3/db.lock
Demenesd/.vs/Demenesd/v16/Server/sqlite3/storage.ide
Demenesd/.vs/Demenesd/v16/TestStore/0/000-0000.testlog
Demenesd/.vs/Demenesd/v16/TestStore/0/testlog.manifest
Demenesd/.vs/ProjectSettings.json
Demenesd/.vs/slnx.sqlite
Demenesd/.vs/VSWorkspaceState.json
Demenesd/appsettings.Development.json
Demenesd/appsettings.json
Demenesd/Demenesd.csproj
Demenesd/Demenesd.sln
Demenesd/obj/Debug/netcoreapp3.1/Demenesd.AssemblyInfo.cs
Demenesd/obj/Debug/netcoreapp3.1/Demenesd.AssemblyInfoInputs.cache
Demenesd/obj/Debug/netcoreapp3.1/Demenesd.assets.cache
Demenesd/obj/Debug/netcoreapp3.1/Demenesd.csprojAssemblyReference.cache
Demenesd/obj/Demenesd.csproj.nuget.cache
Demenesd/obj/Demenesd.csproj.nuget.dgspec.json
Demenesd/obj/Demenesd.csproj.nuget.g.props
Demenesd/obj/Demenesd.csproj.nuget.g.targets
Demenesd/obj/project.assets.json
Demenesd/Program.cs
Demenesd/Properties/launchSettings.json
Demenesd/Startup.cs
